<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/filess.css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 0px;padding-bottom: 0px;">
        
          <a class="navbar-brand" href="#" style="color:rgb(245, 94, 94);font-size: 4rem;">blogPOST</a>
         <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navmob" style="background-color: rgb(219, 219, 225);">
            <span class="icon-bar" style="background-color: rgb(17, 17, 17);"></span>
            <span class="icon-bar" style="background-color: rgb(21, 21, 22);"></span>
            <span class="icon-bar" style="background-color: rgb(33, 33, 34);"></span>
          </button>
          <div class="collapse navbar-collapse" id="navmob">
            <ul class="nav nav-tabs navbar-right">
              <li class="nav-item" >
                <a class="nav-link active" aria-current="page" href="/" style="font-size:1.7rem;color: rgb(29, 28, 28)">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/create" style="font-size:1.7rem;color: rgb(47, 46, 46);">Create</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about" style="font-size:1.7rem;color: rgb(52, 51, 51)">About</a>
              </li>
            </ul>
          </div>
      
      </nav>
      <hr style="width: 100%;height: 1px;background-color: rgb(233, 231, 231);margin-top: 0px;">
  </div>
   
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>